[Unit]
Description=qBittorrent API's Telegram interface
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/home/pi/projects/qbittorrent-bot
ExecStart=python3 /home/pi/projects/qbittorrent-bot/main.py

[Install]
WantedBy=multi-user.target
